* {
    box-sizing: border-box;
}

body {
    background: url('http://i.hizliresim.com/v4Qykv.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    font-size: 13px;
}


//helpers

.bold {
    font-weight: 600;
}

